@import "normal.css";

.container {
	display: flex;
}
.summary {
	font-size: 0.875em;
}
.center {
	display: flex;
	align-items: center;
	justify-content: center;
}
.daily {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-left: 1em;
}
.day {
	display: flex;
	height: 2.75vh;
}

.dayName {
	font-size: 1em;
	width: 4em;
}
.dayTemp {
	font-size: .875em;
	width: 1.75em;
}
.name {
	font-size: 1.25em;
	font-weight: 600;
}
.weather {
	padding: 0.125em;
}
.current {
	font-size: 7em;
  padding: 0.125em;
	font-weight: 600;
}
.hour {
	display: inline-block;
	margin: .75em .5em;
}

.hrTemp {
	font-size: 1em;
	padding: .25em;
}

.hrTime {
	font-size: .75em;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ball {
  width: 22px;
  height: 22px;
  border-radius: 11px;
  display: inline-block;
  margin: 0 10px;
  animation: 2s bounce ease infinite;
}

.blue {
  background-color: rgba(0, 0, 0, 0.75);
}

.red {
  background-color: rgba(0, 0, 0, 0.5);
  animation-delay: .25s;
}

.yellow {
  background-color: rgba(0, 0, 0, 0.25);
  animation-delay: .5s;
}

.green {
  background-color: rgba(0, 0, 0, 0.125);
  animation-delay: .75s;
}

@keyframes bounce {
    50% {
        transform: translateY(25px);
    }
}
