@import "normal.css";
@import "colors.css";

@lost gutter 0;
@lost flexbox flex;
@lost cycle none;

:root {
  --center: {
    display: flex;
    align-items: center;
		justify-content: center;
  };
	--vert-center: {
		display: flex;
    align-items: center;
	}
}

body {
	@apply --center;
}

.app-con {
	@apply --center;
	width: 60%;
	height: 55%;
}

.container {
	width: 100%;
	height: 100%;
	& .name {
		@apply --vert-center;
		lost-row: 1/8;
	}
	& .day-con {
		lost-row: 5/8;
	}
	& .week-con {
		lost-row: 2/8;
	}
}
.name {
	font-weight: 600;
	font-size: 1.125em;
}

.day-con {
	display: flex;
  & .curr-con {
    lost-column: 7/9;
  }
	& .hour-con {
		lost-column: 2/9;
	}
}

.curr-con {
	& .sun-status {
		@apply --vert-center;
		lost-row: 1/7;
	}
	& .curr-info {
		lost-row: 6/7;
	}
}
.sun-status {
	font-size: 0.75em;
}
.curr-info {
  @apply --center;
	flex-direction: column;
}
.curr-temp {
	font-size: 7em;
	font-weight: 700;
}
.summary {
	font-size:0.825em;
}

.hour-con {
	height: 100%;
	& .hour {
		lost-row: 1/5;
	}
}

.hour {
	@apply --vert-center;
	& .hr-time {
		lost-column: 3/4;
		font-size: 0.75em;
	}
	& .hr-temp {
		lost-column: 1/4;
		font-size: 1em;
	}
}

.week-con {
	display: flex;
	& .day {
		lost-column: 1/6;
	}
}
.week-con:first-child {
	border-bottom: 0.5em solid #F1F1F1;
}
.day {
	@apply --center;
	& .day-info {
		lost-row: 3/5;
	}
}
.day:first-child {
	background-color: #232323;
}
.day-info {
	width: 100%;
	& .day-name {
		lost-row: 2/5;
	}
	& .day-temp {
		lost-row: 3/5;
	}
}
.day-name {
	@apply --center;
  font-size: 0.75em;
}
.day-temp {
	@apply --center;
	& div {
		@apply --center;
		font-size: 1.125em;
		height: 100%;
		lost-column: 2/5;
	}
}
.day-high {
	font-weight: 500;
}
.day-low {
	opacity: 0.65;
}

.wrapper {
  @apply --center;
}

.ball {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px;
  animation: 2s bounce ease infinite;
}

.blue {
  background-color: #E3F2FD;
}

.red {
  background-color: #42A5F5;
  animation-delay: .25s;
}

.yellow {
  background-color: #FFB74D;
  animation-delay: .5s;
}

.green {
  background-color:#D84315;
  animation-delay: .75s;
}

@keyframes bounce {
    50% {
        transform: translateY(25px);
    }
}
