<div class="container">

  <div class="floatLeft weatherCon">
    <div class="weather">
      <div class="name">{{data.location.short_name}}</div>
      <div class="current center">{{data.weather.currently.temperature | number:0}}</div>
      <div class="summary center">{{data.weather.hourly.summary}}</div>
    </div>

    <div class="hourly">
      <div class="hour" ng-repeat="hour in data.weather.hourly.data | limitTo:5:1">
        <div class="hrTemp center">{{hour.temperature | number:0}}</div>
        <div class="hrTime center">{{hour.time * 1000 | date:'h:mm a':data.weather.offset}}</div>
      </div>
    </div>
  </div>

  <div class="daily floatRight">
    <div class="day" ng-repeat="day in data.weather.daily.data | limitTo:7">
      <span class="dayName">{{day.time * 1000 | date:'EEE':data.weather.offset}}</span>
      <div class="floatRight">
        <span class="dayTemp">{{day.temperatureMax | number:0}}</span>
        <span class="dayTemp">{{day.temperatureMin | number:0}}</span>
      </div>
    </div>
  </div>

</div>
